@import '../../styles';
div {
    padding: 30px;
    background-color: white !important;
    margin-bottom: 30px;
}

h5 {
    text-align: center;
    font-size: 26px;
    color: $primary;
    a {
        margin: 0;
        font-size: 26px;
        color: $primary;
        text-decoration-color: $primary;
        -moz-text-decoration-color: $primary;
        -webkit-text-decoration-color: $primary;
        -o-text-decoration-color: $primary;
        /* Code for Firefox */
    }
}

button {
    @include smallBgGradients(45deg);
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 15px;
    border-radius: 4px;
    color: white;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    -webkit-transition: max-width 1s linear !important;
    transition: max-width 1s linear !important;
    &:active {
        @include smallBgGradients(45deg, 10%);
    }
}