<div background>
  <section class="full-screen rel">
    <div class="v-a-m">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  p-y-50">
            <h1 large light>Hi, I'm <span bold>Wilson Hobbs</span>.</h1>
            <h4 light medium>I am a maker of software things from Atlanta.</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-screen rel">
    <div class="v-a-m">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  p-y-50" center>
            <h1 large light>I've done work for <span bold><a href="http://www.hoboride.com/">Hobo Technologies</a></span> and my startup,
              <span bold><a href="https://www.getcanal.com/">Canal</a></span>.</h1>
            <h4 light medium>And I made them with a dab of awesome.</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-screen rel">
    <div class="v-a-m">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  p-y-50">
            <h1 large light>Let me tell you 'bout my <span bold>skills</span>.</h1>
            <h4 light medium>
              <ul>
                <li>HTML, CSS, JavaScript, jQuery</li>
                <li>Angular, Ionic Framework</li>
                <li>Node.JS, Express, MongoDB</li>
                <li>Git Workflow</li>
              </ul>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="full-screen">
    <div class="container p-y-50">
      <div class="row">
        <div class="col-sm-12">
          <h1 large light>Some of the <span bold>projects</span> I've done.</h1>
          <h4 light medium>Click the links to see what I did.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-6" *ngFor="let card of cards">
          <app-card [content]="card"></app-card>
        </div>
      </div>
    </div>
  </section>
  <section class="full-screen">
    <div class="container p-y-50">
      <div class="row">
        <div class="col-sm-12">
          <h1 large light>So at this point you're <span bold>yearning</span> to contact me...</h1>
          <h4 light medium>That's cool, because I want to talk to you too!</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <ul medium light no-list>
              <li>
                <i class="fa fa-phone"></i> +1 (404) 719-3252
              </li>
              <li>
                <i class="fa fa-envelope"> </i> wilsonhobbs1@gmail.com
              </li>
              <li>
                <a href="https://www.facebook.com/wbhob" target="_new"><i class="fa fa-facebook"></i> Facebook</a></li>
              <li>
                <a href="https://www.twitter.com/wbhob" target="_new"><i class="fa fa-twitter"></i> Twitter</a></li>
              <li>
                <a href="https://www.instagram.com/wbhob" target="_new"><i class="fa fa-instagram"></i> Instagram</a></li>
              <li>
                <a href="https://www.github.com/wbhob" target="_new"><i class="fa fa-github"></i> GitHub</a>
              </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
</div>