/* You can add global styles to this file, and also import other style files */

$primary: #0073E6;
@mixin bgGradients($angle: 180deg) {
    background-image: -ms-linear-gradient($angle, #0073E6, #CE0FF5, #E600E6, #FF0558, #FFEE05);
    background-image: -moz-linear-gradient($angle, #0073E6, #CE0FF5, #E600E6, #FF0558, #FFB005, #FFEE05);
    background-image: -o-linear-gradient($angle, #0073E6, #CE0FF5, #E600E6, #FF0558, #FFB005, #FFEE05);
    background-image: -webkit-gradient($angle, #0073E6, #CE0FF5, #E600E6, #FF0558, #FFB005, #FFEE05);
    background-image: -webkit-linear-gradient($angle, #0073E6, #CE0FF5, #E600E6, #FF0558, #FFB005, #FFEE05);
    background-image: linear-gradient($angle, #0073E6, #CE0FF5, #E600E6, #FF0558, #FFB005, #FFEE05);
}

@mixin smallBgGradients($angle: 180deg, $percent: 0%) {
    background-image: -ms-linear-gradient($angle, darken(#0073E6, $percent), darken(#CE0FF5, $percent));
    background-image: -moz-linear-gradient($angle, darken(#0073E6, $percent), darken(#CE0FF5, $percent));
    background-image: -o-linear-gradient($angle, darken(#0073E6, $percent), darken(#CE0FF5, $percent));
    background-image: -webkit-gradient($angle, darken(#0073E6, $percent), darken(#CE0FF5, $percent));
    background-image: -webkit-linear-gradient($angle, #0073E6, #CE0FF5);
    background-image: linear-gradient($angle, darken(#0073E6, $percent), darken(#CE0FF5, $percent));
}

@mixin colorGradients($angle: 180deg) {
    color: #0073E6;
}

* {
    font-family: 'Inconsolata', monospace;
    font-size: 1.5rem;
    [large] {
        font-size: 40px;
        & span,
        & a,
        & * {
            font-size: inherit;
            color: inherit;
        }
    }
    [medium] {
        font-size: 32px;
        & span,
        & a,
        & * {
            font-size: inherit;
            color: inherit;
        }
        ul {
            list-style: none;
            /* Remove list bullets */
            padding: 0;
            margin: 0;
            li {
                padding-left: 24px;
                padding-bottom: 16px;
            }
            li:before {
                content: "-";
                /* Insert content that looks like bullets */
                padding-right: 16px;
                color: inherit;
                /* Or a color you prefer */
            }
        }
    }
}

[background] {
    @include bgGradients();
}

// [blue] {
//     background-color: #0073E6;
//     color: white;
// }
// [green] {
//     background-color: #00E600;
// }
// [magenta] {
//     background-color: #E600E6;
// }
.full-screen {
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
}

.rel {
    position: relative;
}

.p-y-50 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.v-a-m {
    min-height: auto;
    vertical-align: middle;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100vw;
}

[no-list] {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding-bottom: 16px;
    }
}

[center] {
    text-align: center;
}

[light] {
    font-weight: 400;
}

[bold] {
    font-weight: 700;
}

@media screen and (max-width:640px) {
    [large] {
        font-size: 34px !important;
    }
    [medium] {
        font-size: 22px !important;
    }
}